body {
  background: linear-gradient(180deg, var(--bg-black) 0%, #08162bab 100%);
  /* height: 100vh; */
}

.navbar {
  display:  flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar .options {
  display: flex;
  align-items: center;
}

.navbar .options div a {
  margin: 0 .5rem;
  color: var(--secondary1);
  font-family: "SF Pro Display Semibold";
  font-size: 13px;
}

.navbar .options .buy:hover {
  cursor: pointer;
  background-color: #f29494e8;
}

.navbar .options div a:hover {
  color: rgba(255, 255, 255, 0.808);
}

.navbar .options .buy {
  padding: 11px 20px;
  background: var(--rectangle);
  border: none;
  margin: 0 1rem;
}

.navbar img {
  position: relative;
  bottom: 1.4rem;
  width: 2.4rem;
  height: 2.9rem;
}

.display-box {
  display: block;
}

.container {
  width: 100%;
}

.container .content .box-buttons {
  display: grid;
}

.container .content .box-buttons .form-search {
  display: flex;
  align-items: center;
}

/* ====== Campo de busca e botões ====== */
.container .content .box-buttons a {
  display: flex;
  align-items: center;
}

.container .content .box-buttons a img,
.container .content .box-buttons .form-search #img-search {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 0 3rem;
}

.container .content .box-buttons .form-search #img-search {
  background: url('../assets/search.svg') no-repeat;
  outline: none;
  cursor: pointer;
  font-size: 0;
}

.container .content .box-buttons a button,
.container .content .box-buttons .form-search #txt-search {
  width: 100%;
  border-radius: 1.2rem;
  padding: 1.5rem;
  margin: .4rem 1rem;
  outline: none;

  font-family: "SF Pro Display Bold";
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.container .content .box-buttons a button:hover {
  background-color: rgb(202, 202, 202); 
}

.container .apresentation {
  display: grid;
  justify-content: center;
  align-items: center;
}

/* ====== REGISTER ====== */
.apresentation .form-register {
  /* display: none; */
  padding: 1rem;
}

.apresentation .form-register input,
.container .form-return input {
  width: 100%;
  padding: .7rem;
  border-radius: 1rem;
  outline: none;

  font-family: "SF Pro Display Bold";
  font-size: 20px;
}

.apresentation .form-register .btn-register button,
.apresentation .result-search .form-result button,
.container .form-return button {
  width: 10rem;
  padding: .7rem;
  border-radius: 1rem;

  font-family: "SF Pro Display Bold";
  font-size: 20px;
  cursor: pointer;
}

.container .form-return {
  padding: 0 1rem ;
}

.container .form-return input,
.container .form-return button {
  margin: .6rem 0;
}

.container .form-return button:nth-child(1) {
  background: var(--primary2);
  color: var(--secondary1);
}

.container .form-return button:nth-child(2) {
  background: var(--secondary1);
  color: var(--primary2);
}

.apresentation .form-register .btn-register button:nth-child(1) {
  background: var(--primary1);
  color: var(--secondary1);
}

.apresentation .form-register .btn-register button:nth-child(2) {
  background: var(--secondary1);
  color: var(--primary1);
}

.apresentation img {
  width: 300px;
  height: 290px;
  padding: 3rem;
}

/* ====== RESULTS SEARCH ====== */
.apresentation .result-search {
  width: 100%;
}

.apresentation .result-search .form-result {
  display: flex;
  justify-content: center;
}

.apresentation .result-search .form-result button:nth-child(1) {
  background: rgba(72, 228, 85, 0.76);
  margin: .1rem;
}

.apresentation .result-search .form-result button:nth-child(2) {
  background: rgba(228, 72, 72, 0.87);
  margin: .1rem;
}

.apresentation .result-search .form-result button:nth-child(3) {
  background: rgba(72, 166, 228, 0.87);
  margin: .1rem;
}

.apresentation .result-search .result-list ul li {
  text-align: justify;
  list-style: none;
  margin: 1rem;

  font-family: "SF Pro Display Bold";
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.apresentation .hide-result {
  /* display: none; */
}

.sale-info input {
  padding: .8rem;
  margin: 1rem 0;
  border: none;
  border-radius: .6rem;
  font-size: 20px;
  text-align: center;
  outline: none;
}

.sale-info input:nth-child(5) {
  background-color: var(--primary2);
  color: var(--secondary1);
}

.sale-info input:nth-child(5):hover {
  background-color: #52439aad;
  color: var(--secondary1);
}


@media screen and (min-width: 920px) {
  body {
    display: block;
    height: 100vh;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .apresentation{
    height: 100%;
  }

  .navbar .options div a {
    margin: 0 1.5rem;
    color: var(--secondary1);
    font-family: "SF Pro Display";
    font-size: 30px;
  }

  .navbar img {
    width: 4.4rem;
    height: 2.9rem;
  }
}