body {
  background: linear-gradient(180deg, var(--bg-black) 0%, #08162bab 100%);
  /* height: 100vh; */
}


.container {
  width: 100%;
}

.navbar {
  display:  flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar .options {
  display: flex;
  align-items: center;
}

.navbar .options div a {
  margin: 0 .5rem;
  color: var(--secondary1);
  font-family: "SF Pro Display Semibold";
  font-size: 13px;
}

.navbar .options .buy:hover {
  cursor: pointer;
  background-color: #f29494e8;
}

.navbar .options div a:hover {
  color: rgba(255, 255, 255, 0.808);
}

.navbar .options .buy {
  padding: 11px 20px;
  background: var(--rectangle);
  border: none;
  margin: 0 1rem;
}

.navbar img {
  position: relative;
  bottom: 1.4rem;
  width: 2.4rem;
  height: 2.9rem;
}

.content div {
  display: grid;
}

.content .add {
  display: flex;
  align-items: center;
}

.content .add img {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 0 3rem;
}

.content .add button {
  width: 100%;
  margin: .4rem 1rem;

  border-radius: 1rem;
  font-family: "SF Pro Display Bold";
  font-size: 20px;
  cursor: pointer;
}

.content .add button:hover {
  background-color: rgb(202, 202, 202); 
}

.apresentation img {
  width: 300px;
  height: 290px;
  padding: 3rem;
}

.sale-info input {
  padding: .8rem;
  margin: 1rem 0;
  border: none;
  border-radius: .6rem;
  font-size: 20px;
  text-align: center;
  outline: none;
}

.sale-info input:nth-child(5) {
  background-color: var(--primary2);
  color: var(--secondary1);
}

.sale-info input:nth-child(5):hover {
  background-color: #52439aad;
  color: var(--secondary1);
}


@media screen and (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 100%;
  }

  .navbar {
    height: 100%;
  }

  .container {
    display: flex;
    height: 100%;
  }

  .apresentation {
    width: 100%;
  }
}

@media screen and (min-width: 920px) {
  .apresentation {
    display: flex;
    align-items: center;
    width: 35%;
  }

  .content {
    width: 60%;
  }

  .navbar .options div a {
    margin: 0 1.5rem;
    color: var(--secondary1);
    font-family: "SF Pro Display";
    font-size: 30px;
  }

  .navbar img {
    width: 4.4rem;
    height: 2.9rem;
  }
}