/* titulo */
.listing .title-result {
  color: var(--secondary1);
  font-family: "SF Pro Display Bold";
  font-size: 20px;
  text-align: center;
  padding: .6rem 0;
  border: 2px dashed var(--secondary1);
  border-radius: 1rem;
  margin: 1rem 1rem;
  background: rgba(62, 235, 105, 0.568);
}

/* Resultados */
.listing .result-search {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: .6rem 0;
  border: 2px dashed var(--secondary1);
  border-radius: 1rem;
  margin: 1rem 1rem;
}

.listing .result-search ul li {
  list-style: none;
  color: var(--secondary1);
  font-family: "SF Pro Display Bold";
  font-size: 20px;
}

/* Butões para manipular os resultados obtidos */
.listing .btn-result {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: .6rem 0;
  border: 2px dashed var(--secondary1);
  border-radius: 1rem;
  margin: 1rem 1rem;
}

.listing .btn-result .form-result button {
  
  color: var(--secondary1);
  font-family: "SF Pro Display Bold";
  font-size: 20px;

  width: 100px;
  padding: .5rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.listing .btn-result .form-result button:nth-child(1) {
  background: rgba(62, 235, 105, 0.568);
  margin: .1rem;
}

.listing .btn-result .form-result button:nth-child(2) {
  background: rgba(228, 72, 72, 0.87);
  margin: .1rem;
}

@media screen and (min-width: 920px) {
  
}